<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link href="https://cdn.bootcss.com/framework7/1.6.0/css/framework7.ios.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/framework7/1.6.0/css/framework7.ios.colors.min.css" rel="stylesheet">

    <title>长实智能代维管理平台</title>
    <!-- built style files will be auto injected -->
</head>
<body class='layout-white'>
<div id="app" class='theme-white'></div>
<script src="http://webapi.amap.com/maps?v=1.3&key=300dc388f1094039efa69dda128fadee"></script>
<script src="https://cdn.bootcss.com/framework7/1.7.1/js/framework7.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="<%= htmlWebpackPlugin.options.echartJsName %>"></script>
<script src="<%= htmlWebpackPlugin.options.dplayerJsName %>"></script>
<script src="<%= htmlWebpackPlugin.options.libJsName %>"></script>
<script src="<%= htmlWebpackPlugin.options.vueLibJsName %>"></script>
<!-- built script files will be auto injected -->
</body>
</html>
