@import "../../../../css/globalFunc";

.h-list-item {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  &:nth-child(n) {
    border-right: 1px solid #b2b2b2; /*no*/
  }
  &:nth-last-child(1) {
    border-right: 0;
  }
  .title {
    @include setFontSize($maxFontSize);
    color: $theme_color;
  }
}

.work-order-tabs {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $gray_color; /*no*/
}

.work-order-tab {
  position: relative;
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  @include setFontSize($middleFontSize);
  &.is-checked {
    color: $theme_color;
    &:after {
      position: absolute;
      bottom: 0;
      display: block;
      content: '';
      width: 30%;
      height: 2px; /*no*/
      background-color: $theme_color;
    }
  }
  .base-tab-input {
    position: absolute;
    opacity: 0;
  }
}

.list-item {
  position: relative;
  padding: 30px 30px 0 30px;
  .item-ctrl {
    position: relative;
    border-bottom: 1px solid $gray_color; /*no*/
    .item-ctrl-gt {
      position: absolute;
      bottom: 30%;
      right: 30px;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-top: 3px solid $gray_color; /*no*/
      border-right: 3px solid $gray_color; /*no*/
      transform: translateY(-50%) rotate(45deg) skew(-10deg, -10deg);
    }
    div {
      width: 100%;
      @include ellipsis;
      margin-bottom: 30px;
      &:nth-child(1) {
        @include setFontSize($middleFontSize)
      }
    }
  }
  .item-action {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    div {
      text-align: center;
      flex: 1;
      border-right: 1px solid #999999; /*no*/
      &:nth-last-child(1) {
        border-right: 0;
      }
    }
  }
}