@import "../../../../css/globalFunc";

.h-list {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 20px;
}

.h-list-item {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  &:nth-child(n) {
    border-right: 1px solid red; /*no*/
  }
  &:nth-last-child(1) {
    border-right: 0;
  }
}

.base-tab {
  position: relative;
  &.is-checked {
    border-bottom: 1px solid red; /*no*/
  }
  .base-tab-input {
    position: absolute;
    opacity: 0;
  }
}