@import "../../css/globalFunc";

.home-list {
  padding: 15px 0;
  &.border {
    position: relative;
    &:after {
      @include onepx
    }
  }
  display: block;
  @include setFontSize($baseFontSize)
}