@import "../../css/globalFunc";

.scan-input {
  position: relative;
  display: inline-block;
  width: 100%;
  .scan {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
  }
}
