@import "../../css/globalFunc";
.h-list-item {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  &:nth-child(n) {
    border-right: 1px solid #b2b2b2; /*no*/
  }
  &:nth-last-child(1) {
    border-right: 0;
  }
  .title {
    @include setFontSize($maxFontSize);
    color: $theme_color;
  }
}