@import "globalFunc";

.answer {
  header {
    display: flex;
    padding: 30px;
    align-items: center;
    .progress {
      flex: auto;
    }
    .step {
      margin-left: 60px;
      color: #999;
      .current {
        color: $theme_color;
      }
    }
  }
  footer {
    padding: 30px;
  }
}

.tab-footer {
  .f-resolve {
    margin-top: 10px;
    > div {
      @include setFontSize($middleFontSize);
      &:first-child {
        color: #999;
      }
    }
  }
}

.footer-button {
  a {
    margin-bottom: 15px;
  }
}

.clock-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}