@import "globalFunc.scss";
@import "resetFramework7.scss";
@import "fonts/iconfont.css";
// @import "~vue-dplayer/dist/vue-dplayer.css";
@import "~dplayer/dist/DPlayer.min.css";

body, p {
  @include setFontSize($baseFontSize);
}

div {
  box-sizing: border-box;
}

input {
  @include setFontSize($baseFontSize)
}

div#app {
  @include setFontSize($baseFontSize);
}

img {
  display: block;
}

.gt {
  position: absolute;
  top: 50%;
  right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #000000; /*no*/
  border-right: 1px solid #000000; /*no*/
  transform: translateY(-50%) rotate(45deg) skew(-20deg, -20deg);
}

.btn-link {
  display: inline-block;
  @include setFontSize($baseFontSize);
  text-align: center;
  color: #999;
  border: 1px solid #999; /*no*/
  padding: 2px 5px; /*no*/
  border-radius: 5px;
  letter-spacing: 1px; /*no*/
  &.active {
    color: $theme_color;
    border: 1px solid $theme_color; /*no*/
  }
}

/* 1px 虚线*/
.one-px-dotted {
  border: 1px dashed #aaaaaa; /*no*/
}

.line-10 {
  height: 10px;
  background: #f5f5f5;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px; /*no*/
}

.color-theme {
  color: $theme_color;
}

.color-black {
  color: #000;
}

.color-gray {
  color: $gray_color;
}

.color-light-gray {
  color: #999;
}

.color-warn {
  color: $warn_color;
}

.bg-lucency {
  background: rgba(0, 0, 0, 0);
}

.lease {
  color: #d9b524;
}

.buy {
  color: $warn_color;
}

.down {
  display: inline-block;
  width: 6px; /*no*/
  height: 6px; /*no*/
  border-right: 2px solid $gray_color; /*no*/
  border-bottom: 2px solid $gray_color; /*no*/
  transform: rotate(45deg);
  margin-left: 10px;
  margin-bottom: 2px; /*no*/
}

.up {
  display: inline-block;
  width: 6px; /*no*/
  height: 6px; /*no*/
  border-right: 2px solid $gray_color; /*no*/
  border-bottom: 2px solid $gray_color; /*no*/
  transform: rotate(-135deg);
  margin-left: 10px;
}

.triangle-down {
}

.line {
  width: 40px;
  height: 6px;
  background-color: #eaeaea;
}

.line-through {
  color: #999;
  text-decoration: line-through;
}

.min-line-through {
  @include setFontSize($miniFontSize);
  color: #999;
  text-decoration: line-through;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.margin-center {
  margin: 0 auto;
}

div {
  &.clearBoth {
    zoom: 1;
    &:after {
      display: block;
      height: 0;
      content: ' ';
      clear: both;
    }
  }
}

textarea {
  width: 99%;
  height: 140px;
  resize: none;
  background: none;
  border: 1px solid #aaaaaa; /*no*/
  @include setFontSize($miniFontSize);
  outline: none;
  &::-webkit-input-placeholder {
    color: #999;
  }
}

input, button, select, textarea {
  outline: none;

}

textarea {
  resize: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mark {
  color: red;
}

.s-select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  border: 1px solid $gray_color; /*no*/
  border-radius: 14px;
  background-image: url("~assets/icon_down.png");
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: right 20px center;
}

.s-input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  border: 1px solid $gray_color; /*no*/
  border-radius: 14px;
}

.s-scan {
  display: inline-block;
  width: 400px;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  border: 1px solid $gray_color; /*no*/
  border-radius: 14px;
  background-image: url("~assets/icon_scan.png");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: right 10px center;
}

.s-textarea {
  padding-top: 15px;
  padding-left: 15px;
  border: 1px solid $gray_color; /*no*/
  border-radius: 14px;
}

.vdatetime-input, .time-input {
  border: 0;
  text-align: center;
}

.mt-40 {
  margin-top: 40px;
}

.m-40 {
  margin: 40px 0;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px;
}

.w-40 {
  width: 40%;
}

.unit {
  margin-left: 20px;
}

.popup-city, .popup-province, .popup-district, .popup-city2, .popup-province2, .popup-district2, .popup-autocomplate {
  background: #efeff4;
  .city-navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 8px; /*no*/
    width: 100%;
    height: 44px; /*no*/
    background: #f7f7f8;
    @include setFontSize($middleFontSize);
    :after {
      @include onepx
    }
    .navbar-left {
      flex-shrink: 0;
      display: flex;
      .link {
        display: flex;
        align-items: center;
        i + span {
          margin-left: 7px; /*no*/
        }
      }
    }
    .navbar-center {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      height: 100%;
      line-height: 44px; /*no*/
      text-align: center;
      @include ellipsis;
      font-weight: 600;
      font-size: 17px; /*no*/
    }
  }
}

.time-group {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  .time-slash {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 1px; /*no*/
    background-color: #999999;
    transform: translate(-50%, -50%) rotate(145deg);
  }
}

.detail-header {
  width: 100%;
  padding: 15px 30px;
  justify-content: space-between;
  background-color: #f5f5f5;
  .s-select {
    width: 100%;
  }
}

.logo {
  width: 317px;
  height: 249px;
  margin: 0 auto;
}

.login {
  header {
    display: flex;
    align-items: center;
    height: 550px;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div {
      width: 590px;
      margin: 0 auto;
    }
  }
}

.login-user {
  display: block;
  box-sizing: border-box;
  background-image: url("~assets/icon_user.png");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: left 10px center;
  padding-left: 80px;
  height: 90px;
  width: 590px;
  border: 0;
  border-bottom: 1px solid #999999; /*no*/
}

.login-submit {
  margin: 180px auto;
  margin-bottom: 0;
  width: 590px;
}

.login-pwd {
  display: block;
  box-sizing: border-box;
  background-image: url("~assets/icon_pwd.png");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: left 10px center;
  padding-left: 80px;
  height: 90px;
  border: 0;
  border-bottom: 1px solid #999999; /*no*/
  width: 590px;
}

.echarts {
  width: 100% !important;
}

.icon_expand {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("~assets/icon_expand.png");
  background-size: 35px;
}

.icon_collapse {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("~assets/icon_collapse.png");
  background-size: 35px;
}

.hint {
  color: #b91212;
}