@import "../../css/globalFunc";

.fo-form-group {
  display: flex;
  .s-label {
    flex: none;
    height: 50px;
    line-height: 50px;
    min-width: 180px;
    &.title {
      @include setFontSize($middleFontSize);
    }
  }
  .s-item {
    flex: auto;
    padding-left: 15px;
    &.ellipsis {
      @include ellipsis;
    }
    .s-text {
      height: 50px;
      line-height: 50px;
      @include ellipsis;
    }
  }
}