@import "../../css/globalFunc";

.base-radio-group {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  justify-items: center;
}

.base-radio {
  position: relative;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  text-align: center;
  border-radius: 14px;
  margin-right: 20px;
  @include setFontSize($middleFontSize);
  border: 1px solid $gray_color; /*no*/
  &.is-checked {
    background-color: $theme_color;
    color: #ffffff;
  }
  .base-radio_original {
    position: absolute;
    opacity: 0;
  }
}